<ion-view title="Cancelar Orden" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="cancelarOrden-form8" class="list ">
            <label class="item item-input " id="cancelarOrden-input14">
                <span class="input-label">Número de Orden</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="cancelarOrden-button19" class=" button button-positive  button-block " ng-click="doCancel()">Cancelar</button>
    </ion-content>
</ion-view>